<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>{% block title %}About{% endblock %}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    


    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Theme CSS -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> 
                </button>
                <a class="navbar-brand" href="#page-top">Alter Ego</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/python_apps">Research</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}
    <!-- Header -->
    <header>
    {% block content%}
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/yeebLBMABq8xFLNweArZONfOliOVrbDGw3pXCFYB39zevnpuv_LvXkbAZOqc4TBfKdNmTYTx22vQw1FAIjlRKg0PmJRNeoyIEzn-oKS_dIRFOXA5-8nDItIAc8no2a9IcnIXYfSKVqa43mTb7EdUHW3cRb-XCZA_qwI9AVT5t-DliYLtiOJlVqpoErSnrGc7QXAwCZ0MSrV0XTwu5yBvPzhaK-sPDvQIctfqiefDbjvd6gKmHssLx06Ooeeflb7NRUEuYFBfFsX4mGRBSpgAbEn1rFW4Gpv7xtNzq3ASTmDaD-5YBrFHmwpwqZoChbzFgE-qKmI5xEbY-K6YdOKfgIUAGHvzxKqOu8WlR0ZYBgxg14eeGVEQcJOKgcnrsbi6e9TAueK5A69CI1eH9-FO2_TivytTsMJsQzdBKdw0kSQ80lq2ya78FsK8CHFzw7Rj_HB82LUfvZbV4TmsmS8jTQmt3oAWk8zKHPSQQU62hX5uK47GPwYwd5FWRAsJOa9h8t17FAbiKwGq4qp2--UlhrijxfKh0fyDBECWXxUbsbuDU83D3-nAW4fVpFEJCGn0TGjUCyskgO0Q_xpgscbXSZGdljl7l8wmYcERgrioeOpU_FEE2Jd1Pid5bZywP26sFRLAoS1soC80VUG-gi1jhPZz5jAr5rHl=w485-h646-no" alt="" width="206"height="306">>                                                    
                    <div class="intro-text">
                        <h1 class="name">Welcome {{name}}!</h1>
                        <hr class="star-light">
                        <span class="skills"> Biohacker * Python * Nanomaterials * Cell Mechanics * Engineer * Consultant</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
    <!-- Portfolio Grid Section -->
    <script src="https://anvil.works/embed.js" async></script>
<iframe style="width:100%;" data-anvil-embed src="https://WG4SCDLKM7HZCT2P.anvil.app/3GLLIQWPVIOUDUTWOQXW4SZN"></iframe>
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <p> Publications </p>
                    <div class="col-sm-4 portfolio-item">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=alicia+chau">
                        <img src="/static/img/myosinmerge.png" target="_blank" class="img-responsive" alt="" width="206"height="206">	
                    </a>
                          
                </div>
                <p> Vegan Recipes </p>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.instagram.com/veginsanity/">
                        <div class="caption">
                            <div class="caption-content">
                               
                            </div>
                        </div>
                        <img src="/static/img/myosinmerge.png" target="_blank" class="img-responsive" alt="" width="206"height="206">	
                    </a>
                </div>
                <p> Linkedin </p>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.linkedin.com/in/alicia-chau-aa61591a/">
                        <div class="caption">
                            <div class="caption-content">
                            <img src="/static/img/contactarea.png" target="_blank" class="img-responsive" alt="" width="206"height="206">	
                    </a>
                            </div>
                        </div>
                </div>                                                                             
                </div>      
            </div>
        </div>
    </section>

 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Alicia and I'm a life hacker. This site is an accumulation of my many passions from vegan recipes, lifestyle tutorials, pictures and how I'll leverage technology to create my life hacks. </p>
                </div>
                <div class="col-lg-4">
                    <p>My mission is to empower women of disadvantage with technology to create equal opportunity in the STEM field and make intellectual contributions to society accessible to all regardless of economical and geographical background.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="text-center">
    
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>San Diego California,
                            <br>United States</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100008718006466" target="_blank" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://youtu.be/j5OmwDkccj4" class="btn-social btn-outline" target="_blank"><span class="sr-only">YouTube</span><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/aliciachau" class="btn-social btn-outline" target="_blank"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Alicia Chau 
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
 

</body>


</html>

   
