{% extends "index.html" %} 

{% block title %}Portfolio{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="headshot.JPG" alt="">
                    <div class="intro-text">
                        <h1 class="name">Projects in the works~</h1>
                        <hr class="star-light">
                        <span class="skills">Let's Collaborate!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




            <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
      	  <div class="row">
                <div class="col-sm-4 portfolio-item">	
                <h1>Research - Science</h1>	                
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=alicia+chau">
                         <div class="caption">	
                            <div class="caption-content">
				    <i class="fa fa-search-plus fa-3x"></i>
                            </div>	
                        </div>	
                        <img src="/static/img/myosinmerge.png" target="_blank" class="img-responsive" alt="" width="206"height="206">	
                    </a>	
                </div>
                <div class="col-sm-4 portfolio-item">	
                <h1>Software - Mobile and Web Apps</h1>	                
                    <a href="/portfolio" target="_blank" class="portfolio-link" data-toggle="modal">
                         <div class="caption">	
                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>	
                            </div>	
                        </div>	
                        <img src="/static/img/myosinmerge.png" target="_blank" class="img-responsive" alt="" width="206"height="206">	
                    </a>	
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Consulting - Lab Informatics</h1>
                    <a href="https://www.linkedin.com/in/alicia-chau-aa61591a/"> 
                        <div class="caption">
                            <div class="caption-content">
				    <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://image.flaticon.com/icons/svg/174/174857.svg" alt="" width="136"height="136">	
                    </a>
                </div>      
            </div>
        </div>
    </section>

         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>I've designed experiments across all spaces of engineering and sciences. My specialty is in micro/nanofabrication of biomaterials for customizing microenvironments to study cell-substrate interactions in circulating cells (i.e. lymphocytes and Circulating Tumor Cells). I am fascinated by the cross-talk between lymphocytes and microbes across epithelial barriers </p>
                </div>
            </div>
        </div>
    </section>

{% endblock%}
