{% extends "index.html" %} 

{% block title %}Portfolio{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="headshot.JPG" alt="">
                    <div class="intro-text">
                        <h1 class="name">Alicia's Portfolio</h1>
                        <hr class="star-light">
                        <span class="skills">Snippet of projects I'm working on. Reach out if you're interested in collaborating!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




            <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Project Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
      	  <div class="row">
                <div class="col-sm-4 portfolio-item">	
                <h1>Cell Mechanics</h1>	                
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=alicia+chau"target="_blank" class="portfolio-link" data-toggle="modal">
                         <div class="caption">	
                            <div class="caption-content">
				<i class="fa fa-search-plus fa-3x"></i>
                            </div>	
                        </div>	
                        <img src="/static/img/myosinmerge.png" target="_blank" class="img-responsive" alt="" width="206"height="206">	
                    </a>	
                </div>
                <div class="col-sm-4 portfolio-item">	
                <h1>Python Apps</h1>	                
                    <a href="/add_numbers" target="_blank" class="portfolio-link" data-toggle="modal">
                         <div class="caption">	
                             <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>	
                            </div>	
                        </div>	
                        <img src="/static/img/shopping_cart.png" target="_blank" class="img-responsive" alt="" width="206"height="206">	
			    <figcaption>Try my Apps!</figcaption>
			</a>	
                </div>
                <div class="col-sm-4 portfolio-item">
                <h1>Machine Learning</h1>
                    <a href="/time" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
				<i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://nelson.wisc.edu/ccr/images/matlab.jpg" alt="" width="136"height="136">	
                    </a>
                </div>      
            </div>
        </div>
    </section>

         <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>I've designed experiments across all spaces of engineering and sciences. My specialty is in micro/nanofabrication of biomaterials for customizing microenvironments to study cell-substrate interactions in circulating cells (i.e. lymphocytes and Circulating Tumor Cells). I am fascinated by the cross-talk between lymphocytes and microbes across epithelial barriers. I'm always interested in collaborating on research projects, hackathons and start-ups! </p>
                    <p>The languages I work with include: HTML, CSS & Python. I work with the Flask Framework for Python development. If you are a non technical person who would like control over your website then I can create a Squarespace or Wordpress website for you. Simplicity, creativity and clarity are the core principles behind my work.</p></div>
            </div>
        </div>
    </section>

{% endblock%}
